<?xml version="1.0"?>

<model>
  <name>Robot</name>
  <version>1.0</version>

  <sdf version="1.0">robot.urdf</sdf>
    
</model>

<!-- 
  Command to compile to urdf
  ros2 run xacro xacro -o robot.urdf robot.xacro

  Check urdf
  check_urdf /home/a/robotics-lab/final-project/robotics-assignment/ros_ws/src/simple_robot_description/models/robot/robot.urdf
 -->